.slick-prev{
    z-index: 999999;
    left: 25px !important;
    width: 50px !important;
    height: 50px!important;
    cursor: pointer;

}
.slick-next{
    right: 25px !important;
    z-index: 999999;
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;

}
.slick-prev:before, .slick-next:before {

    font-size: 0px !important;

}
@media(min-width: 1000px) and (max-width: 1600px){
    .slick-slider{
        height: 400px;
    }
}
@media(min-width: 1200px) and (max-width: 1600px){

    .slick-prev{
        left: 100px !important;
        width: 150px !important;
        height: 150px!important;
        cursor: pointer;
      
    }
    .slick-next{
        right: 100px !important;
     
        width: 150px !important;
        height: 150px !important;
        cursor: pointer;
    }
    .slick-slide img {
        display: block;
        width: 100% !important;
    }
}

@media(min-width: 1600px){
    .slick-prev{
        left: 125px !important;
        width: 150px !important;
        height: 150px!important;
        cursor: pointer;
      
    }
    .slick-next{
        right: 125px !important;
        width: 150px !important;
        height: 150px !important;
        cursor: pointer;

    
    }
    .slick-slide img {
        display: block;
        width: 100% !important;
    }
}
